<%- include('header') -%>
<h1>Adatok</h1>
</div>
<div class="container2">
    <table align="center">
        <tr>
            <th>Film címe</th>
            <th>Premier éve</th>
            <th>Műfaj</th>
        </tr>
        <tr>
            <td>
                <%= (typeof film === 'undefined') ? '' : film.cim %>
            </td>
            <td>
                <%= (typeof film === 'undefined') ? '' : film.release %>
            </td>
            <td>
                <%= (typeof film === 'undefined') ? '' : film.type %>
            </td>
        </tr>

    </table>
    <br><br><hr>
    <table align="center">

        <tr>
            <th>Rendezők</th>
            <th>Születési év</th>
            <th>Műveletek</th>
        </tr>
        <% rendezok.forEach(function(Rendezo){ %>
            <tr>
                <td>
                    <%= Rendezo.nev %>
                </td>
                <td>
                    <%= Rendezo.ev %>
                </td>
                <td>
                    <a href="/adatok/<%= film._id %>/edit/<%= Rendezo._id %>"><button class="kek">Módosítás</button></a>
                    <a href="/adatok/<%= film._id %>/del/<%= Rendezo._id %>"><button class="piri">Törlés</button></a>
                </td>
            </tr>
        <% }); %>
    </table>
    <a href='/adatok/<%= film._id %>/new'><button class="zod">Új Rendező</button></a><br>
    <a href='/'><button class="piri">Vissza</button></a>
<%- include('footer') -%>